<!doctype html>

<html lang="en">

<%- include ("../partials/head", {env: env}) %>

<body>

    <% if (env !== "development") { %>
        <%- include ("../partials/bodyGTM") %>
    <% } %>

    <%- include ("../partials/blogHeader", {title: blogPost.title, date: blogPost.created_at}) %>

    <section id="blog-post">
        <div class="blog-post-content">
            <%- blogPost.content %>
        </div>
    </section>

    <%- include ("../partials/footer"); -%>

    <% var jsonld = jsonld %>
    <script type="text/javascript">
        let jsonld = JSON.parse('<%- jsonld %>');
        jsonld['headline'] = unescape(jsonld['headline'])
        jsonld['description'] = unescape(jsonld['description'])
        jsonld['articleBody'] = unescape(jsonld['articleBody'])
        let script = document.getElementById('jsonld')
        script.text = JSON.stringify(jsonld);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/contact.js"></script>
</body>

</html>
