<!doctype html>

<html lang="en">

<%- include ("../partials/head") %>

<body>
    <a class="anchor" name=""></a> 

    <%- include ("../partials/header") %>

    <%- include ("../partials/nav") %>

    <div id="wrapper">

        <%- include ("../partials/contact") %>

        <div id="content">

            <p><%= blogPost.title %></p>

        </div>
    </div>

    <%- include ("../partials/footer"); -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/typewriter.js"></script>
    <script src="/js/blog.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/project.js"></script>
</body>

</html>
