<!doctype html>

<html lang="en">

<%- include ("../partials/head") %>

<body>
    <a class="anchor" name=""></a> 
    
    <%- include ("../partials/header") %>

    <%- include ("../partials/nav") %>

    <div id="wrapper">

        <%- include ("../partials/contact") %>

        <div id="content">

            <section id="blog">
            
                <% blogPosts.forEach(blogPost => { %>

                    <div class="card blog-card">

                        <a href="/blog/<%= blogPost.slug %>">
                            <% if (blogPost.Hero) { %>
                                <img class="blog-image" src="<%- 'http://localhost:1337/' + blogPost.Hero.url %>">
                            <% } %>
                            <div class="blog-overview">
                                <h4><%= blogPost.title %></h4>
                                <h5><%= blogPost.created_at %></h5>
                            </div>
                        </a>
                    </div>
                
                <% }) %>
            
            </section>

        </div>
    
    </div>

    <%- include ("../partials/footer"); -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/typewriter.js"></script>
    <script src="/js/blog.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/project.js"></script>
</body>

</html>
