<!doctype html>

<html lang="en">

<%- include ("../partials/head", {env: env}) %>

<body>
    <% if (env !== "development") { %>
        <%- include ("../partials/bodyGTM") %>
    <% } %>
    <a class="anchor" name=""></a> 

    <% if (blogPost.Hero) { %>
        <%- include ("../partials/hero", { hero: blogPost.Hero }) %>
    <% } else { %>
        <%- include ("../partials/header") %>
    <% } %>

    <%- include ("../partials/nav") %>

    <div id="wrapper" class="blog-post">

        <%- include ("../partials/contact") %>

        <div id="content">

            <section id="blog-post">

                <h1 class="blog-heading"><%= blogPost.title %></h1>
                <h3 class="blog-heading">Hayley van Waas | <%= blogPost.created_at %></h3>
                <div class="blog-post-content">
                    <%- blogPost.content %>
                </div>

            </section>

        </div>
        <a tabindex="0" href="/blog" id="back-to-blog-link"><p>Back to Blogs and Articles</p></a>
    </div>


    <%- include ("../partials/footer"); -%>

    <% var jsonld = jsonld %>
    <% var title = blogPost.title %>
    <% var content = blogPost.content %>
    <% var createdAt = blogPost.created_at %>
    <% var updatedAt = blogPost.updated_at %>
    <script type="text/javascript">
        var title = "<%= title %>";
        var content = "test"
        var createdAt = "<%= createdAt %>";
        var updatedAt = "<%= updatedAt %>";
        var script = document.createElement('script');
        script.type = 'application/ld+json';
        script.text = JSON.stringify(
            {
                "@context": "https://schema.org",
                "@type": "BlogPosting",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "hayley.codes"
                },
                "headline": title,
                "description": "Description",
                "articleBody": content,
                "image": "test.com",
                "author": {
                    "@type": "Person",
                    "name": "hayley"
                },
                "publisher": {
                    "@type": "Organization",
                    "name": "hayley.codes",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "https://hayley.codes/images/favicon.png"
                    }
                },
                "datePublished": createdAt,
                "dateModified": updatedAt
            }
        )
        document.querySelector('head').appendChild(script);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/project.js"></script>
</body>

</html>
