<!doctype html>

<html lang="en">

<%- include ("../partials/head") %>

<body>
    <a class="anchor" name=""></a> 

    <%- include ("../partials/header") %>

    <%- include ("../partials/nav") %>

    <div id="wrapper" class="blog-post">

        <%- include ("../partials/contact") %>

        <div id="content">

            <section id="blog-post">

                <h2 class="blog-heading"><%= blogPost.title %></h2>
                <h3 class="blog-heading"><%= blogPost.created_at %></h3>
                <div class="blog-post-content">
                    <%- blogPost.content %>
                </div>

            </section>

        </div>
    </div>

    <%- include ("../partials/footer"); -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/typewriter.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/project.js"></script>
</body>

</html>
