<!doctype html>

<html lang="en">

<%- include ("../partials/head", {env: env}) %>

<body>
    <% if (env !== "development") { %>
        <%- include ("../partials/bodyGTM") %>
    <% } %>
    <a class="anchor" name=""></a> 

    <% if (blogPost.Hero) { %>
        <%- include ("../partials/hero", { imageUrl: imageUrl, hero: blogPost.Hero }) %>
    <% } else { %>
        <%- include ("../partials/header") %>
    <% } %>

    <%- include ("../partials/nav") %>

    <div id="wrapper" class="blog-post">

        <%- include ("../partials/contact") %>

        <div id="content">

            <section id="blog-post">

                <h2 class="blog-heading"><%= blogPost.title %></h2>
                <h3 class="blog-heading"><%= blogPost.created_at %></h3>
                <div class="blog-post-content">
                    <%- blogPost.content %>
                </div>

            </section>

        </div>
        <a tabindex="0" href="/blog" id="back-to-blog-link"><p>Back to Blogs and Articles</p></a>
    </div>


    <%- include ("../partials/footer"); -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/project.js"></script>
</body>

</html>
